@use "./imports/" as *;

body {
    padding: 2rem 1rem;
    letter-spacing: 0.02em;
    @include breakpoint {
        display: grid;
        place-items: center;
        min-height: 100vh;
        padding: 3rem;
    }
}

main {
    width: 100%;
    padding-block: 2rem;
    padding-inline: 6rem;
}

form {
    height: 100%;
    display: grid;
    grid-template-rows: 3rem 5rem 1fr 2rem;

    .form--navigation {
        align-self: end;
    }
}

ul {
    list-style: none;
}

p {
    color: var(--cool-gray);
    line-height: 1.6rem;
    &.blue {
        color: var(--marine-blue);
    }
}

a {
    text-decoration: none;
    color: var(--light-gray);

    &:hover,
    &:focus {
        color: var(--marine-blue);
        border: none;
        outline: none;
    }
}

nav {
    display: block;
    width: 28rem;
    background: url("../assets/images/bg-sidebar-mobile.svg");

    @include breakpoint {
        display: none;
    }
}

h1 {
    font-size: 2rem;
    margin-block-end: 0.5rem;
    font-weight: 700;
}

h2 {
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.small {
    font-size: 0.9rem;
}

.card {
    background: white;
    nav {
        display: none;
    }
    @include breakpoint {
        display: flex;
        min-height: 40rem;
        width: 65rem;
        padding: 1rem;

        border-radius: 1rem;

        nav {
            display: block;
            background: url("../assets/images/bg-sidebar-desktop.svg");
            background-size: cover;
            background-repeat: no-repeat;
            padding: 2rem 3rem;
            border-radius: 1rem;
        }
    }
}

.form--navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    button {
        width: fit-content;
        padding: 1rem 1.5rem;
        justify-self: flex-end;
        background-color: var(--marine-blue);
        border: 0;
        border-radius: 0.6rem;
        color: white;
        font-weight: 700;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: var(--purplish-blue);
        }
    }

    a {
        width: fit-content;
    }
}
