@use "./imports/" as *;

body {
    padding: 0;
    letter-spacing: 0.03em;
    min-height: 100vh;

    @include breakpoint {
        display: grid;
        place-items: center;
        padding: 3rem;
    }
}

main {
    width: 100%;
    padding-block: 2rem;
    padding-inline: 1rem;

    @include breakpoint {
        padding-inline: 6rem;
    }
}

form {
    height: 100%;
    display: grid;
    grid-template-rows: 3rem 5rem 1fr 2rem;

    .form--navigation {
        align-self: end;
    }
}

ul {
    list-style: none;
}

p {
    color: var(--cool-gray);

    line-height: 1.6em;
    &.blue {
        color: var(--marine-blue);
    }
}

a {
    text-decoration: none;
    color: var(--light-gray);

    &:hover,
    &:focus {
        color: var(--marine-blue);
        border: none;
        outline: none;
    }
}

nav {
    display: block;
    padding-block-start: 2rem;
    padding-block-end: 1.2rem;

    @include breakpoint {
        display: none;
    }
}

h1 {
    font-size: 1.5em;
    margin-block-end: 0.5em;
    font-weight: 700;
    @include breakpoint {
        font-size: 2rem;
    }
}

h2 {
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
h3 {
    font-weight: 700;
    font-size: 0.9rem;
    margin-block-end: 0.1rem;

    @include breakpoint {
        font-size: 1rem;
    }
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;

    @include breakpoint {
        grid-template-rows: 1fr auto;
        background: none;
    }
}

#app {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;

    @include breakpoint {
        background: none;
    }
}

.small {
    font-size: 0.9rem;
}

.card {
    margin: 1rem;
    background: white;
    border-radius: 1rem;
    nav {
        display: none;
    }
    @include breakpoint {
        display: flex;
        min-height: 40rem;
        width: 65rem;
        margin: 0;
        padding: 1rem;
        border-radius: 1rem;

        nav {
            display: block;
            width: 25rem;
            background: url("../assets/images/bg-sidebar-desktop.svg");
            background-size: cover;
            background-repeat: no-repeat;
            padding: 2rem 3rem;
            border-radius: 1rem;
        }
    }
    .form--navigation {
        @include breakpoint {
            display: grid;
            padding: 0;
        }
        display: none;
    }
}

.form--navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-block-start: 2rem;
    padding: 1rem;
    background-color: white;

    @include breakpoint {
        display: none;
    }

    button,
    .button {
        width: fit-content;
        padding: 0.8rem 1rem;
        justify-self: flex-end;
        background-color: var(--marine-blue);
        border: 0;
        border-radius: 0.4rem;
        color: white;
        font-weight: 700;
        cursor: pointer;

        @include breakpoint {
            padding: 1rem 1.5rem;
            border-radius: 0.6rem;
        }

        &:hover,
        &:focus {
            background-color: var(--purplish-blue);
        }

        &.disabled {
            opacity: 0.5;
            cursor: default;

            &:hover {
                background-color: var(--marine-blue);
            }
        }
    }

    a {
        width: fit-content;
    }
}
